<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meus Filmes Favoritos</title>
</head>
<body>

    {% extends "layout.html" %}
    {% block content %}
        <h2>Adicionar Filme</h2>
    
    <form method="POST" action="{{ url_for('home') }}">
        {{ form.hidden_tag() }}
        <div class="input-group">
            <span for="nome-filme">Título do filme:</span>
            {{form.nome_filme(
                id="nome-filme",
                required=True
            )}}
        </div>
        <button type="submit">Cadastrar Filme</button>
    </form>

    <h3>Você tem {{ qtd_filmes }} filmes favoritos.</h3>

    {% endblock %}
</body>
</html>