<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meus Filmes Favoritos</title>
</head>
<body>
    <h1>Meus Filmes Favoritos</h1>

    {% block content %}
        {% if filmes %}
            <ul>
                {% for i in range(filmes|length) %}
                    <li>{{ filmes[i] }}
                        <form method="POST" action="{{ url_for('remover_filme', indice=i) }}" style="display:inline;">
                            <button type="submit">Remover</button>
                        </form>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Nenhum filme cadastrado.</p>
        {% endif %}
    {% endblock %}    
    
    <form method="POST" action="{{ url_for('home') }}">
        {{ form.hidden_tag() }}
        <div class="input-group">
            <span for="nome-filme">Título do filme:</span>
            {{form.nome_filme(
                id="nome-filme",
                required=True
            )}}
        </div>
        <button type="submit">Cadastrar Filme</button>
    </form>

    <h3>Você tem {{ filmes|length }} filmes favoritos.</h3>

</body>
</html>